<!DOCTYPE html>
<html>

<head>
    <title>Administración</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="prototipo 1.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <img src="logo.jpg" alt="Asuncion logo"> &nbsp;&nbsp;&nbsp;
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link navigation" href="Prototipo 1.html"> &nbsp;&nbsp;&nbsp;Inicio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link navigation" href="Administracion.html">&nbsp;&nbsp;&nbsp;Administración</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navigation" href="Prototipo1_consultas.html">&nbsp;&nbsp;&nbsp;Consultas <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navigation" href="#">&nbsp;&nbsp;&nbsp;Asistencias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navigation" href="#">&nbsp;&nbsp;&nbsp;Pacientes</a>
                </li>
            </ul>
        </div>
    </nav>

    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm">

                <div class="card">
                    <img src="./images/crear_Usuario.png" class="card-img-top offset-md-2" alt="..." style="height: 175px; width: 175px">
                    <div class="card-body">
                        <h5 class="card-title">Crear usuario</h5>
                        <p class="card-text">Crear un nuevo usuario en el sistema.</p>

                    </div>
                    <a href="#" class="btn btn-success container">Crear nuevo usuario</a>
                </div>

            </div>
            <div class="col-sm">
                <div class="card">
                    <img src="./images/borrar_Usuario.png" class="card-img-top offset-md-2" alt="..." style="height: 175px; width: 175px">
                    <div class="card-body">
                        <h5 class="card-title">Eliminar usuario</h5>
                        <p class="card-text">Eliminar usuario del sistema.</p>
                    </div>
                    <a href="#" class="btn btn-danger container">Eliminar usuario</a>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 20rem; height: 33rem;">
                    <img src="cambiar Usuario.png" class="card-img-top " alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Modificar usuario</h5>
                        <p class="card-text">Modificar información de usuario en el sistema.</p>
                    </div>
                    <a href="#" class="btn btn-warning container">Modificar usuario</a>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 20rem; height: 33rem;">
                    <img src="asignar paciente.png" class="card-img-top " alt="..." style="height:280px;">
                    <div class="card-body">
                        <h5 class="card-title">Asignar paciente</h5>
                        <p class="card-text">Asignar paciente a su respectiva terapia y terapeuta.</p>
                    </div>
                    <a href="#" class="btn btn-success container">Asignar paciente</a>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 20rem; height: 33rem;">
                    <img src="crear expediente.png" class="card-img-top" alt="..." style="height:280px;">
                    <div class="card-body">
                        <h5 class="card-title">Crea expediente</h5>
                        <p class="card-text">Crear un expediente en el sistema.</p>
                    </div>
                    <a href="#" class="btn btn-success container">Crear expediente</a>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 20rem; height: 33rem;">
                    <img src="borrar expediente.png" class="card-img-top " alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title ">Eliminar expediente</h5>
                        <p class="card-text ">Eliminar expedientes del sistema.</p>
                    </div>
                    <a href="# " class="btn btn-danger container ">Eliminar expediente</a>
                </div>
            </div>
        </div>

    </div>


</body>

</html>