<!DOCTYPE html>
<html>

<head>
    <title>Consultas</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="Prototipo_1.css">
</head>

<body>

    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="Prototipo_1.html">Inicio</a></li>
                    <li><a href="Administracion.html">Administracion</a></li>
                    <li><a href="Prototipo1_consultas.html">Consultas</a></li>
                    <li><a href="#">Pacientes</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <img src="./images/check.png" class="card-img-top offset-md-2" alt="..." style="height: 175px; width: 175px">
                    <div class="card-body">
                        <h5 class="card-title">Asistencias</h5>


                    </div>
                    <a href="#" class="btn btn-success container">Ir a asistencias</a>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img src="./images/paciente.jpg" class="card-img-top offset-md-2" alt="..." style="height: 175px; width: 175px">
                    <div class="card-body">
                        <h5 class="card-title">Pacientes</h5>

                    </div>
                    <a href="Consulta_historial/index.php" class="btn btn-success container">Ir a pacientes</a>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img src="./images/terapeutas.jpg" class="card-img-top offset-md-2" alt="..." style="height: 175px; width: 175px">
                    <div class="card-body">
                        <h5 class="card-title">Terapeutas</h5>

                    </div>
                    <a href="#" class="btn btn-success container">Ir a terapeutas</a>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <img src="./images/donar.png" class="card-img-top offset-md-2" alt="..." style="height: 175px; width: 175px">
                    <div class="card-body">
                        <h5 class="card-title">Consultar Donaciones</h5>
                    </div>
                    <a href="./Registra_Donacion/Registra_Donacion.html" class="btn btn-success container">Consultar Donaciones</a>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img src="./images/empleados.png" class="card-img-top offset-md-2" alt="..." style="height: 175px; width: 175px">
                    <div class="card-body">
                        <h5 class="card-title">Consultar Empleados</h5>

                    </div>
                    <a href="#" class="btn btn-success container">Consultar Empleados</a>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img src="./images/reporte.png" class="card-img-top offset-md-2" alt="..." style="height: 175px; width: 175px">
                    <div class="card-body ">
                        <h5 class="card-title ">Reportes</h5>

                    </div>
                    <a href="# " class="btn btn-success container ">Consultar Reportes</a>
                </div>
            </div>
        </div>

    </div>


</body>

</html>