#sidebar{
    
}
.sidebar{
    background-color: #353535;
}

.nav-link{
    color: #ffffff;
    border-radius: 50;
}

.navbar-nav{
    background-color: #4f4f4f 
}

#form{
    background-color: #F3F4F7;
}

#navbar{
    background-color: #353535;
}

#brand{
    color: #ffffff;
}