.container-fluid{
    margin-top: 0;
    margin-bottom: 0;
    margin-left:0;
    margin-right:0;
}


body {
    background-image: url("./equipoasuncion.jpg");
    background-repeat:no-repeat;
    background-size: 70% 190%;
   }